.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -60%) scale(1.5);
          transform: translate(-50%, -60%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__exit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__exit-button:focus, .modal__exit-button:hover {
  color: #2196f3;
}

.modal__exit-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__title {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__form-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus,
.modal__form-input:focus + .modal__form-icon {
  fill: #2196f3;
  border-color: #2196f3;
  outline: none;
}

.modal__form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea:focus {
  border-color: #2196f3;
}

.modal__form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-textarea::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal__form-textarea::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
  }
  .modal__form-textarea:-ms-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
  }
  .modal__form-textarea::-ms-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
  }
  .modal__form-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
  }
}

.modal__term-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  margin: 20px 0 30px 0;
  cursor: pointer;
}

.modal__term-label::before {
  margin-right: 8px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .modal__term-label {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .modal__term-label {
    line-height: 1.71;
  }
}

.modal__term-checkbox:checked + .modal__term-label::before {
  border: none;
  background-color: #2196f3;
  background-image: url(../img/icons/icon-check.svg);
  background-size: contain;
}

.modal__form-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  background-color: #2196f3;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-button:hover, .modal__form-button:focus {
  background-color: #188ce8;
}

.component-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 206px;
  margin: 0 auto;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #212121;
}

.logo__accent {
  color: #2196f3;
}

.logo_theme-dark {
  color: #ffffff;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: block;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}

.burger-button,
.burger__close-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover, .burger-button:focus,
.burger__close-button:hover,
.burger__close-button:focus {
  color: #2196f3;
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button__icon {
  width: 40px;
  height: 40px;
  display: block;
  fill: currentColor;
}

.burger__menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 48px 0 48px 40px;
  background-color: #ffffff;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .burger__menu {
    display: none;
  }
}

.burger__menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger__close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 15px;
  color: #212121;
  width: 40px;
  height: 40px;
}

.burger__close-button:hover, .burger__close-button:focus {
  color: #2196f3;
}

.burger__close-icon {
  width: 19px;
  height: 19px;
  display: block;
  fill: currentColor;
}

.burger__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__nav-link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.burger__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__contacts-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.burger__contacts-link_highlight {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.burger__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

.burger__social-item:not(:last-child)::after {
  content: '';
  width: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.burger__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.burger__nav-link_active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    margin-right: 88px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link {
    display: block;
    padding: 32px 0;
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .nav__link_active {
    color: #2196f3;
  }
  .nav__link_active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: none;
        flex-shrink: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: #2196f3;
  }
  .header-contacts__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
  .icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/mobile/header-bg@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/header-bg@1x.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/mobile/header-bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/header-bg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/tablet/header-bg@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/header-bg@1x.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/tablet/header-bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/header-bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/desktop/header-bg@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/header-bg@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/desktop/header-bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/header-bg@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;
  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.feature {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .feature__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.feature__description {
  line-height: 1.71;
}

.specialty {
  display: none;
}

@media screen and (min-width: 1200px) {
  .specialty {
    display: block;
  }
}

.specialty {
  padding-bottom: 94px;
}

.specialty__component-title {
  margin-bottom: 50px;
}

.specialty__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.specialty__item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
}

.specialty__item:not(:last-child) {
  margin-right: 30px;
}

.specialty__image {
  position: contain;
  vertical-align: bottom;
}

.specialty__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.specialty__overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__component-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__component-title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__image {
  vertical-align: bottom;
  width: 100%;
}

.team__description-wrapper {
  padding: 30px 32px 24px 32px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__description-wrapper {
    padding: 30px 32px;
  }
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.member__role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__wrapper {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__wrapper {
    margin-top: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 374px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .clients__item {
    margin: 0;
  }
  .clients__item:not(:first-child) {
    margin-top: 30px;
  }
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0px;
    margin-left: -30px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc(100% - 180px);
        flex-basis: calc(100% - 180px);
    margin-top: 0px;
    margin-left: 30px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer__join-wrapper {
  margin-bottom: 60px;
}

.footer__geolocation {
  margin-bottom: 8px;
  line-height: 1.71;
  color: #ffffff;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}

.footer__join-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link_highlight {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link_highlight:hover, .social-list__link_highlight:focus {
  background-color: #2196f3;
}

.social-list__icon_theme-dark {
  fill: #ffffff;
}

.newsletter-signup__form {
  margin-top: 20px;
}

.newsletter-signup__title {
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-signup__input {
  padding: 15px 0 15px 16px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.newsletter-signup__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-signup__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-signup__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-signup__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-signup__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.newsletter-signup__button {
  margin-top: 20px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-signup__button:hover, .newsletter-signup__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .footer__tablet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__address-wrapper {
    margin-right: 165px;
  }
  .newsletter-signup__input {
    width: 450px;
  }
  .newsletter-signup__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
  .footer__address-wrapper {
    margin-right: 70px;
  }
  .footer__address {
    margin-bottom: 0;
  }
  .newsletter-signup {
    margin-left: auto;
  }
  .newsletter-signup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newsletter-signup__input {
    width: 358px;
    margin-right: 12px;
  }
  .newsletter-signup__button {
    margin: 0;
  }
}

.projects {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .projects {
    padding: 94px 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filter__button {
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #188ce8;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.project-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
  width: 100%;
}

.project-list__overlay {
  position: relative;
  overflow: hidden;
}

.project-list__overlay-text {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 64px 24px 0px 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover .project-list__overlay-text,
.project-list__link:focus .project-list__overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project-list__description-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-list__type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .project-list__item:nth-last-child(even) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .project-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=main.css.map */