.feature {
  padding: 94px 0;
}

.feature__list {
  display: flex;
}

.feature__item {
  flex-basis: calc(100% / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-grey-bg);
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-black-text);
}

.feature__description {
  line-height: 1.71;
}
