.footer {
  padding: 60px 0;

  background-color: var(--accent-dark-blue-bg);
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__join-wrapper {
  margin-left: 70px;
}

.footer__address {
  margin-top: 20px;
}

.footer__geolocation {
  margin-bottom: 9px;

  line-height: 1.71;
  color: var(--secondary-white-text);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--primary-transition-style);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer__join-text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-white-text);
}

.footer__social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link_highlight {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.social-list__icon_theme-dark {
  fill: #ffffff;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;

  margin-left: 93px;
}

.newsletter-signup__form {
  display: flex;
}

.newsletter-signup__title {
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-white-text);
}

.newsletter-signup__input {
  padding: 15px 0 15px 16px;

  width: 358px;

  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: border var(--primary-transition-style);

  color: var(--secondary-white-text);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--accent);
  }
}

.newsletter-signup__button {
  display: flex;
  align-items: center;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-white-text);

  cursor: pointer;

  transition: background-color var(--primary-transition-style);

  &:hover,
  &:focus {
    background-color: var(--button-accent-blue-bg);
  }
}

.signup-button__icon {
  margin-left: 10px;
}
