.hero {
  padding: 200px 0;

  background-color: var(--accent-dark-blue-bg);
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--hero-grey-bg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/main/bg/hero-bg.jpg');
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-text);
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;

  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-white-text);
  background-color: var(--accent);

  transition: background-color var(--primary-transition-style);

  &:hover,
  &:focus {
    background-color: var(--button-accent-blue-bg);
    cursor: pointer;
  }
}
