.hero {
  padding: 118px 0;

  text-align: center;

  background-color: $accent-dark-blue-bg;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-color: $hero-grey-bg;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/mobile/header-bg@1x.jpg');
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../img/mobile/header-bg@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../img/tablet/header-bg@1x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../img/tablet/header-bg@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../img/desktop/header-bg@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../img/desktop/header-bg@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  @include font(26px, 900, 42px);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $secondary-white-text;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;

  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-white-text;
  background-color: $accent;

  transition: background-color $primary-transition-style;

  &:hover,
  &:focus {
    background-color: $button-accent-blue-bg;
    cursor: pointer;
  }
}
