.team {
  padding: 94px 0;

  background-color: var(--secondary-grey-bg);
}

.team__component-title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-basis: calc(100% / 4);
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-bg);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__image {
  vertical-align: bottom;
}

.team__description-wrapper {
  padding: 30px 32px;

  text-align: center;
}

.team__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-black-text);
}

.member__role {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
