.logo {
  font-family: $secondart-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: $secondary-black-text;
}

.logo__accent {
  color: $accent;
}

.logo_theme-dark {
  color: $secondary-white-text;
}
