.logo {
  font-family: var(--secondart-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--secondary-black-text);
}

.logo__accent {
  color: var(--accent);
}

.logo_theme-dark {
  color: var(--secondary-white-text);
}
