.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--primary-transition-style);

  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--primary-white-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  color: #000000;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--button-white-bg);

  transition: color var(--primary-transition-style);

  &:focus,
  &:hover {
    color: var(--accent);
  }
}

.modal__exit-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
