.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 206px;
  margin: 0 auto;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $icon-primary-grey;
  transition: background-color $primary-transition-style,
    color $primary-transition-style;

  &:hover,
  &:focus {
    background-color: $accent;
    color: #ffffff;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
