:root {
  --header-bottom-border: #ececec;
  --portfolio-description-border: #eeeeee;

  --primary-font: 'Roboto', sans-serif;
  --secondart-font: 'Raleway', sans-serif;

  --primary-white-bg: #ffffff;
  --secondary-grey-bg: #f5f4fa;
  --accent-dark-blue-bg: #2f303a;
  --hero-grey-bg: #c4c4c4;

  --primary-grey-text: #757575;
  --secondary-black-text: #212121;
  --secondary-white-text: #ffffff;

  --accent: #2196f3;

  --icon-primary-grey: #afb1b8;

  --button-white-bg: #ffffff;
  --button-accent-blue-bg: #188ce8;

  --primary-transition-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
